<html>
<head>
	<title>Chat Server</title>
	<script src="socket.io/socket.io.js"></script>
	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
	<script src="origScript.js"></script>
	<link rel="stylesheet" type="text/css" href="bootstrap.css">
	<link rel="stylesheet" type="text/css" href="origStylesheet.css">	
</head>
<body>
	<h1>Chat Server</h1>
	<div class="modal-fade" id="login">
		<form class="form-inline" role="form">
			<div class="form-group">
				Username: <input type="text" id="username">
				<button type="button" class="btn btn-primary"  id="loginButton" onclick="login()">Login</button>
			</div>
		</form>
	</div>
	<div id="chatView">
	</div>

	<div id="chatControls">
		<input id="textField" type="text" onkeydown="checkKeyCode()">  <button class="btn btn-success" id="sendbutton" onclick="sendMessage()">Send</button> <button class="btn btn-danger" id="clear" onclick="clearView()">Clear</button>
	</div>
</body>
</html>
